{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Memingo</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae labore corporis ullam voluptas dicta, quas unde voluptatibus est architecto quasi illum sit molestiae dolore eaque aliquid quam magnam rem praesentium.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/imagen.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}